syntax:glob

*.bak
*.pyc
*.pyo
*.swp
bin
coverage
develop/*
develop-eggs
docs/_build
docs/doctrees
docs/html
docs/latex
docs/make.bat
docs/Makefile
dist
grokwiki/src/grokwiki.egg-info/
eggs
.installed.cfg
.mr.developer.cfg
parts
src/*.egg-info
