syntax:glob

.coverage.*
.installed.cfg
.mr.developer.cfg
.tox
*.bak
*.pyc
*.pyo
*.swo
*.swp
bin
coverage
dev
develop-eggs
develop/*
dist
docs/_build
docs/doctrees
docs/html
docs/latex
docs/make.bat
docs/Makefile
eggs
grokwiki/src/grokwiki.egg-info/
parts
src/*.egg-info
var/
