[buildout]
develop = . grokwiki ldapaddressbook martian
parts = grok test

[zope3]
location = .

[grok-app]
recipe = zc.zope3recipes:app
site.zcml = <configure
                xmlns="http://namespaces.zope.org/zope"
                xmlns:browser="http://namespaces.zope.org/browser"
                i18n_domain="zope">
  <include package="zope.app.zcmlfiles" />
  <include package="zope.contentprovider" />
  <include package="zope.formlib" />
  <include package="zope.i18n" file="meta.zcml" />
  <include package="zope.i18n.locales" />
  <include package="zope.security" file="meta.zcml" />
  <include package="zope.traversing.browser" />
  <include package="zope.app.securitypolicy" file="meta.zcml" />
  <include package="zope.app.securitypolicy" file="configure.zcml" />
  <include package="zope.app.authentication" />
  <include package="zope.app.catalog" />
  <include package="zope.app.intid" />
  <include package="zope.app.keyreference" />
  <include package="zope.app.twisted" />
  <include package="zope.app.session" />
  <include package="zope.viewlet" />
  <!-- basic security setup to get me into grok admin -->
  <securityPolicy component="zope.app.securitypolicy.zopepolicy.ZopeSecurityPolicy" />
  <role id="zope.Anonymous" title="Everybody" description="All users have this role implicitly" />
  <role id="zope.Manager" title="Site Manager" />
  <grant permission="zope.View" role="zope.Anonymous" />
  <grant permission="zope.app.dublincore.view" role="zope.Anonymous" />
  <grantAll role="zope.Manager" />
  <unauthenticatedPrincipal id="zope.anybody" title="Unauthenticated User" />
  <unauthenticatedGroup id="zope.Anybody" title="Unauthenticated Users" />
  <authenticatedGroup id="zope.Authenticated" title="Authenticated Users" />
  <everybodyGroup id="zope.Everybody" title="All Users" />
  <!-- initial manager login and password -->
  <principal id="zope.manager" title="Manager" login="grok" password="grok" />
  <grant role="zope.Manager" principal="zope.manager" />
  <!-- my friend the caveman -->
  <include package="grok" file="meta.zcml" />
  <include package="grok" file="configure.zcml" />
  <include package="grokwiki" file="configure.zcml" />
  </configure>

eggs = grok
       grokwiki
       ldapaddressbook
       martian

[grok]
recipe = zc.zope3recipes:instance
application = grok-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = grok
       grokwiki
       ldapaddressbook
       martian
defaults = ['--tests-pattern', '^f?tests$',
            '-v'
           ]
