[buildout]
extends = versions.cfg
find-links = http://download.zope.org/distribution/
parts =
    docs
    interpreter
    grokwiki
    data log etc test
    zpasswd
    zope_conf site_zcml zdaemon_conf deploy_ini debug_ini
    bundlemaker
develop =
    .
    grokdocs
    grokwiki
versions = versions
extensions = buildout.dumppickedversions

[versions]
# Newer release:
grokcore.view = 1.9
# Newer releases because of grokcore.view's codeview split:
grokcore.formlib = 1.2
grokcore.viewlet = 1.1

[docs]
recipe = zc.recipe.egg
eggs = grokdocs

[interpreter]
recipe = zc.recipe.egg
eggs = grokwiki
interpreter = grokpy

[grokwiki]
recipe = zc.recipe.egg
eggs = grokwiki
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy

[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[etc]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = grok
defaults = ['--tests-pattern', '^f?tests$', '-v']

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = grokwiki
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = z3c.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf

[site_zcml]
recipe = z3c.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = z3c.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = z3c.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini

[debug_ini]
recipe = z3c.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini

[bundlemaker]
recipe = z3c.recipe.eggbasket:creator
egg = grok
versionfile = http://grok.zope.org/releaseinfo/grok-1.0a4.cfg
