[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
develop = .
parts =
  docs
  build_html
#  build_pdf
  cronjob-template
versions = versions

[versions]
grok =
# Override the Grok Toolkit for now.
collective.recipe.template = 1.8

[docs]
recipe = zc.recipe.egg
eggs =
  grok
  docutils
  roman
  sphinx
dependent-scripts = true
scripts =
  sphinx-build
  sphinx-quickstart

[build_html]
recipe = zc.recipe.egg
eggs = ${docs:eggs}
dependent-scripts = true
scripts = sphinx-build=build_html
arguments = argv=[sys.argv[0], "-b", "html"] + sys.argv[1:] + ["${buildout:directory}/doc", "${buildout:directory}/build/html"]

[build_pdf]
recipe = zc.recipe.egg
eggs = ${docs:eggs}
dependent-scripts = true
scripts = sphinx-build=build_pdf
arguments = argv=[sys.argv[0], "-b", "latex"] + sys.argv[1:] + ["${buildout:directory}/doc", "${buildout:directory}/build/latex"]

[cronjob-template]
recipe = collective.recipe.template
document_root = ${buildout:directory}/build/docroot
inline =
  #!/bin/bash
  cd ${buildout:directory}
  svn update

  # `make clean` substitute
  rm -rf build/*

  # `make html` substitute
  ./bin/build_html

  if [ $? == 0 ]; then
      rm -rf ${:document_root}
      cp -rf build/html ${:document_root}
  else
      echo "grokdocs html generation failed"
  fi
output = ${buildout:bin-directory}/build.sh
mode = 755

