[buildout]
parts = data instance test
eggs-directory = ../eggs

[zope3]
# change this to the path to an installed Zope 3 installation
location = /path/to/zope331

[data]
recipe = zc.recipe.filestorage

[instance]
recipe = zc.recipe.zope3instance
database = data
user = grok:grok
eggs = setuptools
       grok
       sample

zcml = zope.annotation
       zope.copypastemove
       zope.formlib
       zope.i18n-meta
       zope.i18n.locales
       zope.publisher
       zope.security-meta
       zope.size
       zope.traversing
       zope.traversing.browser
       zope.app    
       zope.app-meta
       zope.app.securitypolicy
       zope.app.securitypolicy-meta
       zope.app.authentication
       zope.app.catalog
       zope.app.intid
       zope.app.keyreference
       zope.app.twisted
       grok
       grok-meta
       sample

[test]
recipe = zc.recipe.testrunner
eggs = sample
extra-paths = parts/zope3/src
working-directory = parts/instance
defaults = ['--tests-pattern', '^f?tests$',
            '-v'
           ]
