[buildout]
develop = .
parts = eggbasket app i18n test data log zpasswd
        zope_conf site_zcml zdaemon_conf deploy_ini debug_ini
newest = false
extends = versions.cfg
# eggs will be installed in the default buildout location
# (see .buildout/default.cfg in your home directory)
# unless you specify an eggs-directory option here.

versions = versions

[app]
recipe = zc.recipe.egg
eggs = Sample
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python-console

[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = Sample
defaults = ['--tests-pattern', '^f?tests$', '-v']

# this section named so that the i18n scripts are called bin/i18n...
[i18n]
recipe = z3c.recipe.i18n:i18n
packages = sample
eggs = sample
domain = sample
output = src/sample/locales
zcml =

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = Sample
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = z3c.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf

[site_zcml]
recipe = z3c.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = z3c.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = z3c.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini

[debug_ini]
recipe = z3c.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini

[eggbasket]
recipe = z3c.recipe.eggbasket
eggs = grok
url = http://grok.zope.org/releaseinfo/grok-eggs-1.0a4.tgz
